APP_NAME=app_nname

# Database configuration
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=bubufw
DB_USERNAME=root
DB_PASSWORD=

# PHPMailer configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
## off => 0 / client => 1 / server => 2 / connection => 3
SMTP_DEBUG=0
SMTP_USERNAME=email
SMTP_PASSWORD=smtp_pass
FROM=mail_send_from
FROM_NAME='From name'
REPLY=reply_email
REPLY_NAME='Reply name'

# Assets configuration
TEMPLATES=../App/Views/templates/
INCLUABLE=../App/Views/incluable/
ASSETS=assets

# Server configuration
LANG=auto
SUPPORTED_LANGUAGES=fr,en
SESSION_DURATION=30
HASH_ALGO=PASSWORD_ARGON2ID